@import '_vars.scss';
@import 'mixins.scss';
@import 'vendor/reset.scss';

:root {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #181818;
    font-size: 1.4rem;
    color: $white;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.container {
    max-width: 70rem;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
}


// Blocks
@import 'blocks/header.scss';
@import 'blocks/sidebar.scss';
@import 'blocks/main.scss';
@import 'blocks/page.scss';
@import 'blocks/profile.scss';
@import 'blocks/social.scss';
@import 'blocks/btn.scss';