.nav__list {
  display: flex;
}

.nav__link {
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.35rem;
  line-height: 1.2;

  @include hoverBtn(background-color, 0.2s, linear, $blue, 0%);
}

.header__right {
  display: flex;
  justify-content: flex-end;
}
