.nav__list {
  display: flex;
}

.nav__item {
  position: relative;

  &:hover {
    > .subnav {
      display: block;
    }
  }
}

.nav__link {
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.35rem;
  line-height: 1.2;

  @include hoverBtn(background-color, 0.2s, linear, $blue, 0%);

  &.has-subnav {
    position: relative;
    padding-right: 3.3rem;

    &:hover::after {
      border-style: solid;
      border-width: 0 5px 6px 5px;
      border-color: transparent transparent $white transparent;
      transition: border 0.2s linear;
    }

    &:after {
      content: "";
      width: 10px;
      height: 6px;
      display: flex;
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: $white transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 1.1rem;
      transform: translate(5px, -50%);
      transition: border 0.2s linear;
    }
  }
}

.header__right {
  display: flex;
  justify-content: flex-end;
}
