.post {
  box-shadow: 0 15px 25px rgba($dark, 0.35);
  border-radius: 5px;
  background-color: $primary;
  padding: 2.5rem;
  margin-bottom: 3rem;
}

.post__text {
  font-size: 1.4rem;
  color: $gray;
  margin-bottom: 2rem;
}

.post__data {
  color: $medium-gray;
  line-height: 1.2;
}