.post {
  box-shadow: 0 15px 25px rgba($dark, 0.35);
  border-radius: 5px;
  background-color: $primary;
  padding: 2.5rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.post__header {
  margin: -2.5rem -2.5rem 2.5rem;
}

.post__preview {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.post__title {
  font-size: 1.8rem;
  color: $white;
  box-shadow: 0 4px 4px rgba($dark, 0.25);
  font-weight: 500;
  margin-bottom: 1.5rem;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post__text {
  font-size: 1.4rem;
  color: $gray;
  margin-bottom: 2rem;
}

.post__data {
  display: flex;
  color: $medium-gray;
  line-height: 1.2;

  a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: $medium-gray;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba($dark, 0.25);

    &:hover {
      text-decoration: underline;
    }
  }
}

.post__data-item:nth-child(2) {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 1.5rem;
  }
}

.post__read {
  color: $blue;
  font-size: 1.4rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.post__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
