.subnav {
  display: none;
  width: 165px;
  padding: 0.5rem 0;
  background-color: $blue;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 6px 8px rgba($dark, 0.2);
}

.subnav__link {
  display: block;
  padding: 0.45rem 1.2rem;
  font-size: 1.2rem;
  color: $white;
  text-decoration: none;

  @include hoverBtn(background-color, 0.2s, ease-in-out, $blue, 15%);
}
